.edu_exp {
  display: flex;
  position: relative;
  background-color: var(--background);
  padding: 60px 0px;
  color: var(--text-white);
  flex-direction: column;

  &__container {
    display: flex;
    border-radius: 100px;
    position: relative;
    @media (max-width: 1025px) {
      flex-direction: column;
    }
    & .education,
    & .experience {
      opacity: 0;
    }
    & .education.animated {
      animation: slideInLeft 1s ease-in-out forwards;
    }
    & .experience.animated {
      animation: slideInRight 1s ease-in-out forwards;
    }
  }

  & h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--text-white);
    text-align: center;
    opacity: 0;
    &.animated {
      animation: fadeIn 2s ease-in-out forwards;
    }
  }
  & h3 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
