@use "../colors/colors.scss" as *;
.experience {
  flex: 1;
  // background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &::after {
    content: "";
    width: 1px;
    height: 80%;
    background-color: var(--text-white);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
    @media (max-width: 1025px) {
      display: none;
    }
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 20px;
    width: 60%;
    @media (max-width: 1025px) {
      width: 50%;
      text-align: center;
    }

    p {
      margin: 5px 0;
      font-size: 16px;

      & > strong {
        font-weight: bold;
      }
    }
  }
}
