@use "../colors/colors.scss" as *;
.projects {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-2);
  padding-bottom: 40px;
  position: relative;
  &__header {
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 40px 0px;
    color: var(--text-white);
    opacity: 0;
    &.animated {
      animation: fadeIn 2s ease-in-out forwards;
    }
  }
  &__proj {
    margin-bottom: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    @media (max-width: 1025px) {
      flex-direction: column;
    }

    &__img {
      height: 350px;
      width: 600px;
      padding: 10px;
      border: 8px dashed var(--background);
      opacity: 0;
      &.animated:nth-of-type(odd) {
        animation: slideInLeft 1.2s ease-in-out forwards;
      }
      &.animated:nth-of-type(even) {
        animation: slideInRight 1.2s ease-in-out forwards;
      }
    }
    &__desc {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      &.animated:nth-of-type(odd) {
        animation: slideInRight 1.2s ease-in-out forwards;
      }
      &.animated:nth-of-type(even) {
        animation: slideInLeft 1.2s ease-in-out forwards;
      }
      &__links {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;

        & a {
          color: var(--text-white);
          text-decoration: none;
          padding: 10px;
          border-radius: 10px;
          background-color: var(--primary);
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: translateY(-4px);
            background-color: var(--background);
          }
        }
      }

      gap: 10px;
      &__text {
        color: var(--text);
      }
      &__header {
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        color: var(--text-white);
      }
      &__stack {
        border-radius: 20px;
        background-color: var(--background);
        box-shadow: 0px 0px 4px var(--background);
        padding: 10px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
